<div{{ attributes }} class="container py-4 bg-dark">

    <div class="row mb-5">
        {% for mode, isEnabled in this.modesEnabled %}
            <form method="get" action="{{ path('favorite_gallery') }}" class="col text-center" id="mode-{{ mode }}">
                <input type="hidden" name="modes" value="{{ this.modesEnabled|json_encode }}">
                <input type="hidden" name="toggleMode" value="{{ mode }}">
                <button
                        class="btn {{ this.getButtonCssForMode(mode) }} mr-3"
                        type="submit"
                >
                    <i class="{{ this.getFontAwesomeClassForMode(mode) }} fa-2x"></i><br>
                    <span>{{ mode }}</span>
                </button>
            </form>
        {% endfor %}
    </div>


    <div class="row mb-5">
            <div class="col text-center">
               <div class="text-white">Total filtered favorites: {{ this.totalCount }}</div>
            </div>
        </div>

        {% if page > 1 %}
             Adding a fake "previous page" div is enough to trick the system
            <div class="d-none" id="page--{{ page - 1 }}" data-live-ignore="true"></div>
        {% endif %}

        {# Current page #}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" id="page--{{ page }}"
             data-live-ignore="true">
            {% for favorite in this.favorites %}
                <div class="col mb-2">
                    {% set randomNumber = random(0, 10000) %}
                    {{ component('FavoriteCard', {favorite: favorite, key: 'key' ~ favorite.id ~ randomNumber}) }}
                </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center py-4">
            {% if this.hasMore %}
                <button data-action="mouseover->live#action click->live#action" data-live-action-param="more"
                        class="btn btn-outline-secondary w-100">
                    Load More
                </button>
            {% else %}
                <span class="text-muted">The End</span>
            {% endif %}
        </div>
</div>