{% extends 'base.html.twig' %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('random') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('random') }}
{% endblock %}
{% block body %}
    <div class="bg-container">
        <img id="random-image"
             src="https://images.unsplash.com/photo-1519515533456-ed9f2c73ca33?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=80"/>
    </div>

    <script>
        var token = '{{ token }}';
    </script>
{% endblock %}
