{% extends 'base.html.twig' %}

{% block title %}Digital Frame{% endblock %}
{% block javascripts %}
    {#    {{ parent() }}#}
    {{ encore_entry_script_tags('stage') }}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('stage') }}
{% endblock %}
{% block body %}
<style>
    .example-wrapper { max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div>
    <h1>Digital Frame Configuration</h1>
</div>
    <div>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col">
                {{ form_row(form.spotify, { 'label': 'Switch to Spotify' }) }}
            </div>
            <div class="col">
                {{ form_row(form.image, { 'label': 'Switch to Unsplash', 'class': 'switch-button' }) }}
            </div>
        </div>
        {{ form_row(form.next, { 'label': 'Next', 'class': 'switch-button' }) }}
        {{ form_end(form) }}
    </div>
    <script>
    var activeButton = '{{ activeButton }}';
</script>

{% endblock %}
