{% extends 'base.html.twig' %}

{% block title %}Digital Frame Configuration{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('config') }}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('config') }}
{% endblock %}
{% block body %}
    <div class="container body-container my-5">
    <!-- Header Section -->
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-white">Digital Frame Configuration</h2>
        </div>
    </div>
    <!-- Form Section -->
    <div class="row justify-content-center" data-controller="form-loading">

        <div class="col-12">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <div id="loading-overlay" data-form-loading-target="overlay" class="d-flex">
                        <div>
                            <div class="spinner-border text-light" role="status"></div>
                            <div class="loading-text">Please wait…</div>
                        </div>
                    </div>


                    {{ form_start(form, { 'attr': { 'data-action': 'submit->form-loading#startLoading' } }) }}
                    {{ form_errors(form) }}

                    <!-- Mode row -->
                    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-2 mb-4 text-center">
                        <div class="col">
                            {{ form_row(form.spotify, { 'attr': {'class': buttonMap.buttonClasses('spotify') } }) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.image, { 'attr': {'class': buttonMap.buttonClasses('unsplash') } }) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.artsy, { 'attr': {'class': buttonMap.buttonClasses('artsy') } }) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.greeting, { 'attr': {'class': buttonMap.buttonClasses('greeting') } }) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.nasa, { 'attr': {'class': buttonMap.buttonClasses('nasa') } }) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.displate, { 'attr': {'class': buttonMap.buttonClasses('displate') } }) }}
                        </div>
                    </div>

                    <!-- Tag and next row -->
                    <div class="row mb-4 border-bottom border-primary rounded align-items-center p-3">
                        <div class="col-12 col-md-6 text-center mb-3 mb-md-0">
                            {{ form_row(form.next, { 'attr': {'class': 'btn btn-secondary w-100'} }) }}
                        </div>
                        <div class="col-12 col-md-6 border-start border-primary">
                            <div class="row g-3 justify-content-center">
                                <div class="col-6">
                                    {{ form_row(form.tag, { 'attr': {'class': 'form-select'} }) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(form.newTag, { 'attr': {'class': 'form-control', 'placeholder': 'Enter new tag', 'disabled' : nextButtonDisabled} }) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Settings row -->
                    <div class="row mb-4 border-bottom border-primary rounded p-3">
                        <div class="row g-3 col-12 col-md-4 justify-content-center mb-3 mb-md-0">
                            <div class="col-6">
                                {{ form_row(form.spotifyInterruption, { 'attr': {'class': buttonMap.buttonClasses('spotifyInterruption') } }) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(form.greetingInterruption, { 'attr': {'class': buttonMap.buttonClasses('greetingInterruption') } }) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-8 border-start border-primary">
                            <div class="row g-3">
                                <div class="col-6 col-lg-3">
                                    {{ form_row(form.color, { 'attr': {'class': buttonMap.buttonClasses('changeColor')} }) }}
                                    {{ form_row(form.changeColor, { 'attr': {'class': buttonMap.buttonClasses('changeColor')} }) }}
                                </div>
                                <div class="col-6 col-lg-3">
                                    {{ form_row(form.blur, { 'attr': {'class': buttonMap.buttonClasses('blur')} }) }}
                                </div>
                                <div class="col-6 col-lg-3">
                                    {{ form_row(form.clear, { 'attr': {'class': buttonMap.buttonClasses('clear')} }) }}
                                </div>
                                <div class="col-6 col-lg-3 border-start border-primary">
                                    {{ form_row(form.maximize, { 'attr': {'class': buttonMap.buttonClasses('maximize')} }) }}
                                </div>
                                <div class="col-6 col-lg-3">
                                    {{ form_row(form.height, { 'attr': {'class': 'form-control', 'placeholder': 'Enter height', 'type': 'number'} }) }}
                                    {{ form_row(form.margin, { 'attr': {'class': 'form-control', 'placeholder': 'Enter margin', 'type': 'number'} }) }}
                                    {{ form_row(form.customHeight, { 'attr': {'class': buttonMap.buttonClasses('customHeight')} }) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Favorite row -->
                    <div class="row g-3 text-center justify-content-center">
                        <div class="col-4">
                            <div class="row g-3 justify-content-center">
                                <div class="col-9">
                                    {{ form_row(form.favoriteList, { 'attr': {'class': 'form-select'} }) }}
                                </div>
                                <div class="col-3">
                                    {{ form_row(form.store, { 'attr': {'class': 'form-control ' ~ favoriteButtonCssClass, 'placeholder': 'Enter new tag'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-md-2">
                            <a href="{{ path('favorite_gallery') }}" target="_blank" class="btn btn-secondary w-100">
                                <i class="fa-solid fa-layer-group"></i><br>
                                <span>Favorite Gallery</span>
                            </a>
                        </div>
                        <div class="col-4 col-md-2">
                            <a href="{{ path('artsy_gallery') }}" target="_blank" class="btn btn-secondary w-100">
                                <i class="fa-solid fa-layer-group"></i><br>
                                <span>Artsy Gallery</span>
                            </a>
                        </div>
                        <div class="col-4 col-md-2">
                            <a href="{{ path('displate_gallery') }}" target="_blank" class="btn btn-secondary w-100">
                                <i class="fa-solid fa-layer-group"></i><br>
                                <span>Displate Gallery</span>
                            </a>
                        </div>
                        <div class="col-4 col-md-2">
                            <a href="{{ path('displate_add') }}" target="_blank" class="btn btn-secondary w-100">
                                <i class="fa-solid fa-d"></i> <i class="fa-solid fa-magnifying-glass text-dark"></i><br>
                                <span>Displate-Search</span>
                            </a>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        <!-- Artwork Section -->
        <div class="row artwork-section mt-5 text-center">
            <div class="col-12">
                {% if lastImageDto is not null and lastImageDto.found %}
                    <p class="text-white">Current Artwork:
                        <strong>{{ lastImageDto.title }}</strong> by <em>{{ lastImageDto.artist }}</em>
                    </p>
                    <img src="{{ lastImageDto.url }}" alt="{{ lastImageDto.title }}"
                         class="img-fluid mx-auto d-block border border-primary rounded"
                         style="max-width: 100%; max-height: 500px;">
                {% else %}
                    <h2 class="text-white">No artwork is displayed currently</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}